{% extends "base.html" %}
{% block content %}
<h2>Tatooine</h2>
<p>In a galaxy far, far away...</p>
<pre>
                           .==.
                          ()''()-.
               .---.       ;--; /
             .'_:___". _..'.  __'.
             |__ --==|'-''' \'...;
__.-._       [  ]  :[|       |---\
'-._"7'      |__| I=[|     .'    '.
 /'.-c       / / ____|     :       '._
 |  /T      |-/.____.'      | :       :
_)_/LI     /___\ /___\      '-'._----'</pre>
<p>Art by Shanaka Dias</p>

<p>Testing the CD pipeline with a change</p>

{% endblock content %}
